<DOCTYPE!>
<html>
<head>
	<title>Home</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<!-- 	<div class="container">
	  <h2>Welcome To Dark Twitter</h2>
	  <p>The .divider class is used to separate links inside the dropdown menu with a thin horizontal line:</p>
	  <div class="dropdown">
	    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">HTML</a></li>
	      <li><a href="#">CSS</a></li>
	      <li><a href="#">JavaScript</a></li>
	      <li class="divider"></li>
	      <li><a href="#">About Us</a></li>
	    </ul>
	  </div>
	</div> -->



	<div class='container'>
		<!-- React container --> 
		<div id="tweet_container"></div>

		<h1 class='text-center'>Twitter feed of something %></h1>

		<table class='table table-hover'>
			<tr>
				<th><!-- Profile image --></th>
				<th>Username</th>
				<th>Screen name</th>
				<th>text</th>
			</tr>

			<% for(var i=0; i < twitterData.length; i++) { %>
			   <tr>
			     <td><%= twitterData[i].profileImageUrl %></td>
			     <td><%= twitterData[i].userName %></td>
			     <td><%= twitterData[i].screenName %></td>
			     <td><%= twitterData[i].text %></td>
			   </tr>
			<% } %>
		</table>

		<!-- <%= JSON.stringify(twitterData) %> -->
	</div>
</body>
</html>