<DOCTYPE!>
<html>
<head>
	<title>Twitter API Fun</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h2>Twitter stuff</h2>
		<p>sandbox to mess around with Twitter's API</p>

	  	<!-- SEARCH controls --> 
	  	<form>
<!-- 	  		<div class='row'> -->
		  		<div class="form-group">
					<label for="search">Search</label>
					<input type="text" class="form-control" name='searchQuery' id="search">
				</div>
<!-- 	  		</div>
	  		<div class='row'> -->
		  		<div class="checkbox text-right">
				  <label><input id='archive' name='toArchive' type="checkbox" value='true'>Archive Results</label>
				</div>
	  		<!-- </div> -->
			<button type="submit" class="btn btn-primary" id='btnSubmit'>Search</button>
			<button  class="btn btn-link" id='btnViewSubs'>View Subscriptions</button>
 		</form>

		<!-- RESULTS -->
		<div id='results'></div> 

	</div>



	<!-- SCRIPTS -->
	<script>

		// Shorthand for $( document ).ready()
		$(function() {


			$('#btnSubmit').click(function(e){
				e.preventDefault();
				debugger;
				var searchQuery = $('#search').val();
				var toArchive = $('#archive').prop('checked');
				$.post("twitter/search", 
					{
						searchQuery: searchQuery,
						toArchive: toArchive
					}, function(data){
						debugger;
						$("#results").html(data);
					}
				);
			});

			$('#btnViewSubs').click(function(e){
				debugger;
				e.preventDefault();

				$.get("twitter/subscriptions", 
					function(data){
						debugger;
						$("#results").html(data);
					}
				);
			});

		});


	</script>

</body>
</html>







	<!-- 		<table class='table table-hover'>
				<tr>
					<th> --><!-- Profile image --><!-- </th>
					<th>Username</th>
					<th>Screen name</th>
					<th>text</th>
				</tr>

				<% for(var i=0; i < twitterData.length; i++) { %>
				   <tr>
				     <td><%= twitterData[i].profileImageUrl %></td>
				     <td><%= twitterData[i].userName %></td>
				     <td><%= twitterData[i].screenName %></td>
				     <td><%= twitterData[i].text %></td>
				   </tr>
				<% } %>
			</table> -->

			<!-- <%= JSON.stringify(twitterData) %> -->
